{% extends "base.html" %}

{% block title %}{{ program.name }} - Image Slider{% endblock %}

{% block content %}
<div class="container-fluid p-0">

    {% if images %}
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade w-100" data-bs-ride="carousel">
          <ol class="carousel-indicators">
            {% for image in images %}
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"></li>
            {% endfor %}
          </ol>
          <div class="carousel-inner">
              <div class="overlay-header">
                  <h1>{{ program.name }}</h1>
              </div>
            {% for image in images %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="overlay-image">
                    <img class="d-block w-100" src="{{ image.image.url }}" alt="Slide {{ forloop.counter }}">
                </div>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
    {% else %}
        <p>No images available for this program.</p>
    {% endif %}
    {% if links %}
    <div class="mt-4 text-center">
        <h2>Useful Links</h2>
        {% for link in links %}
        <a href="{{ link.link }}" class="btn btn-primary m-2" target="_blank">{{ link.name }}</a>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Blocks Section -->
    {% if blocks %}
    <div class="mt-4">
        <h2>Program Details</h2>
        {% for block in blocks %}
        <div class="card mb-3">
            <div class="card-body">
                <p>{{ block.text }}</p>
                {% if block.image %}
                <img class="img-fluid mt-3" src="{{ block.image.url }}" alt="Block Image">
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
