.base__header {
    height: 100px;
    width: 100%;
    background-color: #183f8b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.base__header .logo {
    height: 50px;
    margin-right: 15px;
}

.base__header .base__department-title {
    color: white;
    font-family: 'Bebas Neue';
    font-size: 1rem;
    margin: 0;
}

.base__header-inner {
    margin-left: 10px;
}

.base__logo-container {
    width: 300px;
    height: 70px;
    position: relative;
    margin: auto;
}

.base__logo {
    width: 100%;
    object-fit: contain;
}

.base__nav-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: gray;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #183f8b;
}

.base__nav-bar {
    display: flex;
    gap: 100px;
}

.base__nav-link {
    color: gray;
    text-decoration: none;
    font-size: 16px;
}

.base__nav-link:hover {
    color: #0056b3;
    text-decoration: none;
}

/* General Footer Styles */
.footer {
    background-color: #1D3365;
    color: white;
    padding: 20px 15px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

/* Contact Section */
.footer-contact {
    flex: 1;
    min-width: 250px;
}

.footer-logo img {
    max-width: 200px;
    margin-bottom: 15px;
}

.footer-info p {
    margin: 0 0 10px;
}

/* Social Links */
.footer-social {
    display: flex;
    gap: 10px;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #69727d;
    color: white;
    text-decoration: none;
}

.social-icon i {
    font-size: 20px;
}

.social-icon:hover {
    opacity: 0.8;
}

/* Links Section */
.footer-links {
    flex: 1;
    min-width: 200px;
}

.footer-links h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}


