.base__header {
    height: 400px;
    width: 100%;
    background-color: #183f8b;
    padding: 10px 0;
}

.base__header .logo {
    height: 50px;
    margin-right: 15px;
}

.base__header .base__department-title {
    color: white;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    margin: 0;
}

.base__logo-container {
    width: 100%;
    height: 80%;
    position: relative;
}

.base__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}